.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.none {
	display: none;
}
/*----*/
.menuH {
	float: left;
	height: 55px;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 4;
	list-style: none;
}
.menuH ul {
	list-style: none;
	padding: 0; 
}
.menuH a {
	text-decoration: none;
}


/*                   Head Menu <ul> Styles
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->*/
.menu-ka .menuH > li {
	padding-left: 10px;
	padding-right: 10px;
}
.menu-en .menuH > li {
	padding-left: 20px;
	padding-right: 20px;
}
.menuH > li {
	float: left;
	position: relative;
	height: 100%;
	text-align: center;
	padding-top: 18px;
	padding-right: 10px;
	color: #596b85;
	font-size: 16px;
	text-transform: capitalize;
}
.menuH > li:last-child {
	border: 0;
}
.menuH > li > a {
	color: inherit;
	font-size: 13px;
	font-weight: lighter;
	-webkit-transition: color .1s;
	-moz-transition: color .1s;
	-o-transition: color .1s;
	transition: color .1s;
	padding: 0 10px 18px 20px;
}
/* Hover on li */
.menuH > li:hover {
	background-color: #33A1DE;
}
.menuH > li:hover > a {
	color: #fff;
}

/*                Head Menu CHILD <ul> Styles
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->*/
.menuH > li > ul {
	opacity: 0;
	visibility: hidden;
	background-color: #FFFFFF;
	text-align: left;
	position: absolute;
	top: 55px;
	left: 0;
	padding: 0;
	border-top: 5px solid #33A1DE;
	/*border-top: 5px solid #0EBFE9;*/
	width: 250px;
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,.4);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,.4);
	box-shadow: 2px 4px 5px 0px rgba(0,0,0,.4);
}
.menuH .right > ul {
	opacity: 0;
	visibility: hidden;
	background-color: #BC1B2B;
	text-align: left;
	position: absolute;
	top: 46px;
	margin-left: 100%;
	left: -260px;
	padding: 5px 0;
	width: 260px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}
/* Show grandchildren */
.menuH > li:hover > ul {
	opacity: 1;
	visibility: visible;
}
.menuH > li li:hover {
	position: relative;
}
.menuH > li li:hover > ul {
	opacity: 1;
	left: 100%;
	visibility: visible;
}


/*                Head Menu GRANDCHILD <ul> Styles
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->*/
.menuH > li > ul ul {
	opacity: 0;
	visibility: hidden;
	background-color: #FFFFFF;
	text-align: left;
	position: absolute;
	top: 0;
	left: 90%;
	padding: 0;
	width: 250px;
	/*border-top: 5px solid #33A1DE;*/
	-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,.4);
	-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,.4);
	box-shadow: 2px 4px 5px 0px rgba(0,0,0,.4);
}
.menuH > li > ul ul a {
	color: #596b85;
}
.menuH > li ul a {
	color: inherit;
	font-size: 12px;
	-webkit-transition: color .1s;
	-moz-transition: color .1s;
	-o-transition: color .1s;
	transition: color .1s;
}
.menuH > li > ul li {
	padding: 12px 15px 12px 20px;
	font-size: 16px;
	position: relative;
}

.menuH > li > ul li:hover {
	background-color: #33A1DE;
	opacity: 1;
}
.menuH > li > ul li:hover > a {
	color: #FFF;
}

.menuH > li > .hasGeneration:after {
	content: "\f078";
	color: inherit;
	display: inline-block;
	font-family: FontAwesome;
	margin-left: 7px;
	top: 31px;
	right: 14px;
}
.menuH > li > ul .hasGeneration:after {
	content: "\f0da";
	color: inherit;
	display: inline-block;
	font-family: FontAwesome;
	position: absolute;
	top: 17px;
	right: 10px;
}


/*                        Footer Menu Styles
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->
<---------------------------------------------------------------------->*/
.menuF {
	float: none;
	margin: 0 auto;
	height: 100%;
	padding: 18px 0;
	list-style: none;
	font-size: 12px;
}
.menuF li {
	float: left;
}
.menuF li a {
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
	cursor: pointer;
}


.navbar_top {
	background-color: #FFF;
	/*border-bottom: 5px solid #D3D3D3;*/
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,.4);
}
.main_logo {
	float: left;
	height: 55px;
	padding-top: 12px;
	font-size: 23px;
	margin-right: 20px;
}
.main_logo a {
	text-decoration: none;
}


.web_body {
	margin-top: 75px;
	position: relative;
}


.carousel-inner > .item {height: 394px;}
.carousel-inner > .item img {width: 100%; height: 100%;}

.news_feed_container {
	height: 404px;
	overflow: hidden;
	padding: 0;
}
.news_feed_container .news_feed {
	padding: 5px 15px;
	height: 100%;
	margin: 0;
	overflow-y: auto;
}
.news_feed_container ::-webkit-scrollbar {
	width: 12px;
}
.news_feed > .item {
	width: 100%;
	height: 120px;
	margin-bottom: 17px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.news_feed > .item:last-child {
	margin: 0;
}
.news_feed > .item .news_feed_img {
	float: left;
	width: 120px;
	height: 120px;
	padding: 10px;
	overflow: hidden;
}
.news_feed_img img {
	width: 100%;
	height: 100%;
}
.news_feed > .item .content {
	float: left;
	width: 240px;
	height: 120px;
	padding: 15px 15px 15px 0;
	overflow: hidden;
}
.news_feed > .item .timestamp {
	width: 100%;
	display: block;
	color: #555;
	font-size: 10px;
}
.news_feed > .item .news {
	width: 100%;
	height: 75px;
	display: block;
	color: #444;
	font-size: 11px;
	font-weight: normal;
	overflow: hidden;
}

.middle_row {
	margin-top: 30px;
}
.categories {
	min-height: 100px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.categories > h4 {
	margin: 0;
	padding: 15px 20px 10px 20px;
}
.categories .list {
	margin: 0;
	padding: 0 20px;
}
.categories .list > ul {
	margin: 0;
	padding: 0 0 15px 17px;
}
.content_card {
	min-height: 100px;
}

.home_carousel {
	padding-top: 5px;
}

body {
	background-color: #f5f5f5 !important;
}
.card {
	background-color: #fff !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

footer {
	width: 100%;
	min-height: 100px;
	margin-top: 80px;
	padding: 40px 0;
	color: #9e9e9e;
	background-color: #424242;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,.4);
}
footer .footer_section_container {
	display: block;
	min-height: 175px;
}
.footer_section_container .section {

}
.footer_section_container .section .heading {
	position: relative;
	width: 100%;
	padding-right: 39.8px;
	margin: 12px 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 23.8px;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #e0e0e0;
}
.footer_section_container .section ul {
	list-style: none;
	padding: 0;
	margin: 0 0 32px;
}
.footer_section_container .section .item {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 20px;
}
.footer_section_container .section .item:hover {
	color: #e0e0e0;
}

footer .bottom_section {
	padding: 10px 15px 0 15px;
}
.bottom_section ul {
	list-style: none;
	height: 20px;
	padding: 0;
	margin: 0;
}
.bottom_section ul li {
	float: left;
	margin-bottom: 0;
	margin-right: 16px;
	cursor: pointer;
}
.bottom_section ul li:hover {
	color: #e0e0e0;
}
footer a {
	color: #9e9e9e;
}
footer a:hover, footer a:focus {
	color: #e0e0e0;
	text-decoration: none;
}

.partners_item {
	/*min-height: 100px;*/
	height: 100px;
	margin-top: 17px;
	overflow: hidden;
}
.partners_item img {
	width: 100%;
	height: 100%;
}

.contents_container .item {
	margin-bottom: 20px;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
.contents_container .item:last-child {
	margin: 0;
}

.contents_container .item .content_main_img {
	width: 25%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.content_main_img img {
	width: 100%;
	height: 100%;
}
.contents_container .item .content_description {
	width: 75%;
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.contents_container .item .content_description .supporting_text {
	margin: 20px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 40px);
	height: auto;
	overflow: hidden;
}
.content_description .supporting_text h1 {
	font-size: 24px;
	margin: 0 0 10px 0;
}
.content_description .supporting_text .body {

}
.contents_container .item .actions {
	margin: 0;
	padding: 4px 20px;
	padding-left: calc(25% + 20px);
	color: inherit;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	font-size: 16px;
	line-height: normal;
	width: 100%;
	height: 45px;
	background-color: transparent;
	box-sizing: border-box;
}
.contents_container .actions .read_more_btn {
	color: #00BCD4;
	margin: 0;
	background: 0 0;
	border: none;
	border-radius: 2px;
	display: block;
	position: relative;
	height: 36px;
	min-width: 64px;
	padding: 0 8px;
	display: inline-block;
	font-family: 'Roboto','Helvetica','Arial',sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	will-change: box-shadow,transform;
	-webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}



.single_content .head {
	position: relative;
	padding: 20px 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	background-color: #33A1DE;
	color: #fff;
}
.single_content .head .title {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 26px;
	line-height: 33px;
	margin: 0 0 5px 0;
	padding: 0 5px;
	max-width: 90%;
	display: inline-flex;
}
.single_content .head .timestamp {
	width: 100%;
	margin: 0;
	padding: 0 5px;
}
.single_content .head .timestamp span {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 11px;
}
.single_content .head .actions {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 20px;
	font-weight: normal;
	line-height: 40px;
}
.single_content .head .actions i {
	margin-right: 10px;
	cursor: pointer;
}
.single_content .head .actions i:last-child {
	margin: 0;
}

.single_content .body {
	padding: 20px 30px;
}
.single_content .body .content {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.comments {
	padding: 30px;
}

.social_plugins {
	width: 100%;
	height: 30px;
}

.partners_slider_card {
	height: 150px;
	margin-bottom: 20px;
	padding: 10px 30px;
	position: relative;
}
.partners_slider_card .images_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.partners_slider_card .images_container .content {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	display: inline-flex;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.partners_slider_card .images_container .content .item {
	float: left;
	width: 215px;
	/*width: 32%;*/
	height: 100%;
	margin-left: 7.5px;
	margin-right: 7.5px;
	overflow: hidden;
}
.partners_slider_card .content .item img {
	width: 100%;
	height: 100%;
}
.partners_slider_card .side {
	position: absolute;
	top: 0;
	height: 100%;
	width: 30px;
	text-align: center;
}
.partners_slider_card .left {
	left: 0;
}
.partners_slider_card .right {
	right: 0;
}
.partners_slider_card .side i {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	color: #33A1DE;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    cursor: pointer;
}
.partners_slider_card .left i {
	left: 40%;
}
.partners_slider_card .right i {
	right: 40%;
}